$font-stack: -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
@import "mixins";
@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto-Regular.ttf);
}

html {
  height: 100%;
  @include phones() {
    height: auto;
  }
}


body {
  font-family: $font-stack;
  height: 100%;
  position: relative;
  overflow: hidden;

  @include phones() {
    height: auto;
    overflow: visible;
  }

  #logo {
    width: 10rem;
  }
}

a:hover, a:active, a:focus {
  text-decoration: none;
}

@import "header";
@import "main";
@import "slider-page";
@import "contacts-page";
@import "footer";
